@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Outermost Software, LLC<br />
    214 Main Street<br />
    Brattleboro, CT 05301
    <abbr title="Phone">P:</abbr>
    802.490.3864
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dhodges+SCORM@gmail.com">dhodges+SCORM@gmail.com</a><br />
</address>
